<!--
File Name - about.ejs
Student Name - Shreyas Singh
Student ID - 301239523
-->

<% if (title == "About") { %>
    <div class="container-fluid-md">
      <div class="container"> 
        <div class="row">
          <div class="col-md-12 about-text"><h1><P>Shreyas Singh</P></h1></div>
        </div>
        
        <div class="row">
          <div class="col-md-6 "><img src="/images/ShreyasSinghPhoto.jpg" style="width: 400px; border-radius: 5px;"></div>
          <div class="col-md-6 about-para" style="color: black;"><p> 
            I have completed my bachelors in Electronics & Communication Engineering from <B>Government Engineering College Bharuh, India</B> 
            I like to learn in new coding languages and new frameworks, I have deep intrest in robotics and new engineering tools.
            I also like to explore new culture and meet new people. 
            I just don't want to learn different skills but also pratice it in real life problems.</p>
            <p style="margin-top: 40px; font-size: large;" >
              <a href="https://drive.google.com/file/d/1t0wyem8tlv6TJn53zViHsT62in3EEFfk/view?usp=sharing" target="blank">My Resume</a></p>
          </div>
        </div>
        
      </div>
  
    </div>
    
  <%} else { %>
    
  <% } %>
  