<!--
File Name - home.ejs
Student Name - Shreyas Singh
Student ID - 301239523
-->

<% if (title == "Home") { %>
    <div class="img" > 
    </div> 
    <div class="home-text"> 
      <r><p>Welcome to my <%= title %> page</p></r>
      <span><p> Personal Portfolio Website </p></span>
    </div>
    
    <div>
      <button align-items= center type="button" class="btn btn-dark button" onclick="location.href='/about'">Click Me</button>
      
    </div>
    
    <%} else { %>
      
    <% } %>