<!--
File Name - projects.ejs
Student Name - Shreyas Singh
Student ID - 301239523
-->

<% if (title == "Projects") { %>
    <div class="container-fluid1" >
      
        <div class="row" >
          <div class="col-6" >
            <p><h3 style="margin-left: 50px ;margin-bottom: -5px;font-family: Roboto, sans-serif !important;color: black;">
              <B>Fingerprint Based Hall Authentication</B></h3></p>
            <div class="project-text-head" style="margin-left: 50px;"><p>This project is a simple project. It is used for authenticating students before they enter into the examination hall.</p></div></div>
            
          <div class="col-6"><img src="/images/proFinger.jpg" style="margin-top:10px;margin-left: 50px; height: 300px; width: 600px;"></div>
        </div>
        
        <div class="row" style="margin-top: 50px;">
          <div class="col-5" ><img src="/images/proAutomation.png" style="margin-left:50px; height: 
          450px;width: 250px;"></div>
          <div class="col-1"></div>
          <div class="col-6">
            <p><h3  style="margin-left: 8px;font-family: Roboto, sans-serif !important;color: black;">
              <b>Home Automation Using FPGA</b></h3>
              <div class="project-text-head">
            <p>
              This project is designed to control home appliances using FPGA controller. Users can control the appliances using a Smartphone. And this app was developed in Android Studio. 
        </p></p></div>
        </div></div>
        <p></p>
  
    </div>
    <%} else { %>
    
  <% } %>
  