<!--
File Name - user.ejs
Student Name - Shreyas Singh
Student ID - 301239523
Date - 25-10-2022
-->
<% include partials/header.ejs %>
  
  <h1><%= title %></h1>
  <p>Welcome users <%= name %></p>

<% include partials/footer.ejs %>